<body>
    <div class="page-container">
        <div class="content-card">
            <!-- Papel de parede com <br> Blur na página inteira</h1> -->
            <img src="/src/assets/img/png/logo-foodcare.png" alt="Logo FoodCare" class="brand-logo">
            <p>FoodCare é o projeto de um sistema para arrecadação e distribuição de doações</p>
            <p>Por meio da gerência de todos os processos, garantimos</p>
            <p><strong>confiança e eficiência</strong></p>
            <p>desde o registro de doações até a entrega aos indivíduos necessitados.</p>
            <div class="action-section">
                <a routerLink="/account/sign-in" class="primary-button">Conhecer</a>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</body>
