:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  min-height: 100vh;
  background-color: #f3decc;
  margin: 0;
  padding: 20px 0;
  overflow-y: auto;
 
}

form{
color: #945f29;
}


h2{
  
  justify-content: center;
  display: flex;
}

.form-card {
  background-color: #f7dec7;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  text-align: left;
  margin: 20px;
  box-shadow:  0 0 10px #42632c;
}

.form-card h2 {
  color: #8a5725;
  margin-bottom: 20px;
  font-size: 28px;
}


mat-form-field {
  display: block;
  width: 100%;
}

.mat-mdc-form-field-infix {
  background-color: #264653;
  padding: 10px;
  border-radius: 4px;
}

input[matInput] {
  padding: 10px;
  font-size: 16px;
}

button[color="primary"] {
  background-color: #9e6730;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

button[color="primary"]:hover {
  background-color: #cc7c46;
}

button[color="primary"]:disabled {
  background-color: #ccc;
  color: #5f5f5f;
  cursor: not-allowed;
}

.text-danger, mat-error {
  color: #b03648;
  font-weight: bold;
  font-size: 14px;
  margin-top: 4px;
  display: block;
}

.mt-4 {
  margin-top: 20px;
}

.mt-4 a {
  color: #8a5725;
  text-decoration: none;
  font-weight: bold;
}

.mt-4 a:hover {
  text-decoration: underline;
}

.content-center {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 10px 150px;
}

.central-description {
  margin-top: 30px;
}

.user-type-buttons {
  margin-top: 16px;
}

.button-group {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.user-type-button{
  border-radius: 7px;
  background-color: #9e6730;
  color: #000;
  border: 1px solid #b0364800;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 0.2s ease;
  outline: none;
  color: white;
}

.user-type-button:hover {
  background-color: #cc7c46 ;
}

.user-type-button:focus {
  background-color: #a86b2e;
  color: white;
  outline: none;
  box-shadow: none;
}

.user-type-button:disabled {
  background-color: #9e6730;
  color: white;
}



.button-group{
  justify-content: center;
  align-items: center;
  display: flex;
}

.user-type{
  justify-content: center;
  display: flex;
}

.action-section{
  justify-content: center;
  display: flex;
}

.action-section .link-text{
  color: #ff952b;
}

.action-section .link-text:hover{
  text-decoration: underline;
  color: #b03648;
}

