<div class="base-form">
  <h1>O que eu sou?</h1>

  <form class="form">
    <h2>Cadastro</h2>

    <mat-form-field class="w-100">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" [formControl]="fullname">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Celular</mat-label>
      <input matInput placeholder="Celular" [formControl]="cellphone" type="tel">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" [formControl]="email" type="email">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Senha" [formControl]="password" type="password">
    </mat-form-field>

    <div *ngIf="userType === 'beneficiary'">
      <mat-form-field class="w-100">
        <mat-label>Quantidade de pessoas</mat-label>
        <input matInput placeholder="Quantidade de pessoas" [formControl]="amountPeople" type="number">
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Renda Familiar</mat-label>
        <input matInput placeholder="Renda Familiar" [formControl]="familyIncome">
      </mat-form-field>
    </div>

    <h3>Endereço</h3>

    <mat-form-field class="w-100">
      <mat-label>CEP</mat-label>
      <input matInput placeholder="CEP" [formControl]="cep">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Cidade</mat-label>
      <input matInput placeholder="Cidade" [formControl]="city">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Logradouro</mat-label>
      <input matInput placeholder="Logradouro" [formControl]="publicPlace">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Número</mat-label>
      <input matInput placeholder="Número" [formControl]="number">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Bairro</mat-label>
      <input matInput placeholder="Bairro" [formControl]="neighborhood">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="create()">Criar</button>
  </form>

  <div class="text-center">
            <button color="primary" [disabled]="!validateFields()">Criar</button>
  </div>
  <div class="mt-4">
            <p>Já possui uma conta? <a href="account/sign-in">Clique aqui</a> para entrar agora mesmo!</p>
  </div>
  <div class="central-description">
    <!-- <div id="wallpaper" [ngStyle]="{'background-image': 'url(' + wallpaperUrl + ')'}"></div> -->
     <!-- este é o fundo do site -->
  </div>
</div>
