<div class="base-form">
  <form class="form mat-elevation-z4" [formGroup]="formSignUp">
      <h2>Cadastro</h2>
      
      <mat-form-field>
        <mat-label>Nome completo</mat-label>
        <input matInput placeholder="Nome" formControlName="name">
      
        <mat-error ngIf="form.controls.name.hasError('required')">
          Campo obrigatório
        </mat-error>
      
        @if(formSignUp.controls['name'].hasError('minlength')){
          <P class="text-danger">
              Nome deve ter no minimo {{nameMinLength}} cararacteres.
          </P>
          }
        
        @else if(formSignUp.controls['name'].hasError('maxlength')){
          <p class="text-danger">
              Nome deve ter no maximo {{nameMaxLength}} cararacteres.
          </p>
          }
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" type="email">
        
        <mat-error ngIf="form.controls.email.hasError('required')">
          Campo obrigatório
        </mat-error>
      
        @if(formSignUp.controls['email'].hasError('email')){
          <p class="text-danger">
            Email inválido.
          </p>
        }
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha" formControlName="password" type="password">
      
        <mat-error ngIf="form.controls.password.hasError('required')">
          Campo obrigatório
        </mat-error>
      
        @if(formSignUp.controls['password'].hasError('minlength')){
          <p class="text-danger">
            Senha deve ter no minimo {{passwordMinLength}} cararacteres.
          </p>
        }
      
        @else if(formSignUp.controls['password'].hasError('maxlength')){
          <p class="text-danger">
            Senha deve ter no maximo {{passwordMaxLength}} cararacteres.
          </p>
        }
      </mat-form-field>
    
    
      <mat-form-field>
        <mat-label>Repita a senha</mat-label>
        <input matInput type="password" placeholder="Repita a senha" formControlName="repeatPassword">
      
        <mat-error ngIf="form.controls.repeatPassword.hasError('required')">
          Campo obrigatório
        </mat-error>
      
        @if(!arePasswordsValid()){
        <p class="text-danger">
          As senhas não são iguais.
        </p>
        }
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Número</mat-label>
        <input matInput placeholder="Número" formControlName="phone">
      
        <mat-error ngIf="form.controls.number.hasError('required')">
          Campo obrigatório
        </mat-error>
      
        @if(formSignUp.controls['phone'].hasError('minlength')){
          <p class="text-danger">
            Número deve ter no minimo {{phoneMinlength}} cararacteres.</p>
          }
        
          @else if(formSignUp.controls['phone'].hasError('maxlength')){
          <p class="text-danger">
              Número deve ter no maximo {{phoneMaxlength}} cararacteres.</p>
          }
      </mat-form-field>
    
      <div class="user-type-buttons">
        <label class="user-type">Tipo de usuário</label>
        <div class="button-group">
          <button class="donors" mat-raised-buttoncolor="primary"[disabled]="formSignUp.get('userType')?.value === 'donor' "(click)="formSignUp.get('userType')?.setValue('donor')">
            Doador
          </button>
          <button class="beneficiary" mat-raised-buttoncolor="accent"[disabled]="formSignUp.get('userType')?.value === 'beneficiary' "(click)="formSignUp.get('userType')?.setValue('beneficiary')">
            Beneficiário
          </button>
        </div>
      </div>
    
      @if (formSignUp.get('userType')?.value === 'beneficiary') {
        <mat-form-field>
          <mat-label>Renda familiar</mat-label>
          <input matInput placeholder="Renda" formControlName="familyIncome" type="phone">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Quantidade de pessoas</mat-label>
          <input matInput placeholder="Quantidade" formControlName="peopleQuantity" type="phone">
        </mat-form-field>
      }
      
      <div class="text-center">
        <button mat-raised-button class="create-account" color="primary" [disabled]="!validateFields()" (click)="signUp()">Criar</button>
      </div>    
      <router-outlet></router-outlet>
      <hr>
      <div class="mt-4">
          <p>Já possui uma conta? <a class="Clique-aqui" href="account/sign-in">Clique aqui</a> para entrar agora mesmo!</p>
      </div>
      <div class="central-description">
        <!-- <div id="wallpaper" [ngStyle]="{'background-image': 'url(' + wallpaperUrl + ')'}"></div> -->
      </div>
      
  </form>
</div>