:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.breadcrumb {
  
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  list-style-type: none;
}

.breadcrumb-item a {
  color: #9e6730;
  text-decoration: none;
  list-style-type: none;
}

.breadcrumb-item.active {
  color: #9e6730;
  text-decoration: none;
  list-style-type: none;
}

.content-section {
  background-color: #fcdec2;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px #537e37;
  color: #9e6730;
}

.content-section h1 {
  color: #9e6730;
  margin-bottom: 20px;
}

.content-section h2 {
  color: #9e6730;
  margin-top: 30px;
  margin-bottom: 15px;
}

.content-section p {
  line-height: 1.6;
  margin-bottom: 15px;
  color: #9e6730;
}

.text-end {
  text-align: right;
}

.text-end small {
  color: #9e6730;
}


