<header>
  <div class="logo">
    <img src="logo.png" alt="FoodCare Logo" />
    <span>Foodcare</span>
  </div>

  <nav class="navbar">
      <a routerLink="about-us">Sobre Nós</a>
      <a routerLink="user/make-action">Fazer Doação</a>
      <a routerLink="user/follow-actions">Acompanhar Doações</a>
      <a routerLink="user/generate-report">Gerar Relatório</a>
  </nav>

  <div class="user">
    <img src="usuario.png" alt="User" />
    <span>Usuário</span>
    <button class="button-logout" mat-raised-button color="warn" (click)="logout()">Logout</button>
  </div>
</header>

<main>
  <div class="buttons-toggle">
    <button id="btn-donor" (click)="alternate('donor')" [class.active]="selectedType === 'donor'">Doador</button>
    <button id="btn-beneficiary" (click)="alternate('beneficiary')" [class.active]="selectedType === 'beneficiary'">Beneficiário</button>
  </div>

  <section class="welcome-text">
    <h1 id="title-welcome">Bem vindo(a), {{ userName }}!</h1>
  </section>

  <section class="actions" id="actions">
    @if(selectedType === 'donor'){
      <button>Acompanhar Doações</button>
      <button>Fazer Doação</button>
      <button>Gerar Relatório</button>
    }
    @else if (selectedType === 'beneficiary') {
      <button>Acompanhar Solicitações</button>
      <button>Solicitar Doação</button>
      <button>Gerar Relatório</button>
    }
  </section>

  <section class="message" [class.hidden]="selectedType !== 'beneficiary'" id="message-beneficiary">
    <p>Adicionar verificação se uma solicitação já foi realizada no mês</p>
  </section>

  <router-outlet></router-outlet>
</main>