header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #366679;
  color: white;
  padding: 15px 30px;
  flex-wrap: wrap;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-logo img {
  width: 40px;
}

.logout{
  background-color: #e76f51;
  border-radius: 5px;
  padding: 6px 10px;
}

.brand-logo span {
  font-size: 24px;
  font-weight: bold;
  color: #f4a261;
  text-transform: lowercase;
}

nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.7s ease;
  padding: 0px 10px;
}

nav a:hover {
  color: #f4a261;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 16px;
}

.user img {
  width: 35px;
  border-radius: 50%;
  border: 2px solid #f4a261;
}

main {
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  color: #2a2a2a;
}

.toggle-buttons {
  margin-bottom: 30px;
}

.toggle-buttons button {
  padding: 10px 25px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.toggle-buttons button.active {
  background-color: #e76f51;
  color: white;
}

.toggle-buttons button:hover:not(.active) {
  background-color: #d45d3c;
  color: white;
}

.welcome-section h1 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #ffffff;
  font-weight: bold;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.action-buttons button {
  background-color: #e76f51;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 12px 30px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  min-width: 180px;
}

.action-buttons button:hover {
  background-color: #d45d3c;
}

.info-message {
  font-weight: bold;
  font-size: 18px;
  color: #e63946;
  margin-top: 30px;
}

.hidden {
  display: none;
}


:host {
  display: block;
  width: 100%;
  background-color: #263f49;
  min-height: 100vh;
}


.button-logout{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.7s ease;
  padding: 3px 10px;
  background-color: #e76f51;
  border-radius: 8px;
}

.button-logout:hover{
  color: #f4a261;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.user button{
  border-radius: 8px;
  padding: 5px 7px;
  background-color: #e76f51;
}

.user button:hover{
  background-color: #ac4b32;
}