<div>
  <form class="form mat-elevation-z4">
    <h1>O que você deseja fazer?</h1>

    <div class="buttons-toggle">
      <button id="btn-donate" class="active">Doar</button>
      <button id="btn-request">Solicitar</button>
    </div>

    <section id="form-donation" class="form-container">
      <form class="donation-form">
        <h2>Sua Doação</h2>

        <label>Descrição</label>
        <select name="description" id="description-select" onchange="refreshOptions()">
          <option value="">Selecione uma opção</option>
          <option value="food">Alimento</option>
          <option value="drink">Bebida</option>
          <option value="product-hygien">Produto de Higiene</option>
        </select>

        <label>Nome</label>
        <select name="name" id="name-select">
          <option value="">Selecione o name</option>
        </select>

        <label>Data de validade</label>
        <input type="date" name="validity">

        <label>Quantidade</label>
        <div class="amount">
          <input type="number" name="amount" min="0">
          <label><input type="checkbox" name="unidade" value="kg"> Kg</label>
          <label><input type="checkbox" name="unidade" value="l"> L</label>
        </div>

        <label>Data</label>
        <input type="date" name="date">

        <label>Solicitar coleta:</label>
        <label><input type="checkbox" name="collect" value="yes"> Sim</label>
        <label><input type="checkbox" name="collect" value="no"> Não</label>
      </form>

      <div class="actions">
        <p>Registrar Doação?</p>
        <button class="action-btn">Sim</button>

        <p>Compartilhar doação nas redes sociais?</p>
        <button class="action-btn">Sim</button>
      </div>
    </section>

    <section id="form-request" class="form-container hidden">
      <form class="solicitation-form">
        <h2>Sua Solicitação</h2>

        <label for="tipo-request">Solicitar</label>
        <select id="tipo-request" name="tipo-request">
          <option value="">Selecione uma opção</option>
          <option value="basicBasket">Cesta Básica</option>
          <option value="HygienBasket">Cesta Higiene</option>
        </select>

        <div id="amount-basic" class="amount-combo" style="display: none;">
          <label for="amount-basket-basic">Quantidade de Cesta Básica</label>
          <select id="amount-basket-basic" name="amount-basket-basic">
            <option value="">Selecione</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>

        <div id="amount-hygien" class="amount-combo" style="display: none;">
          <label for="amount-basket-hygien">Quantidade de Cesta Higiene</label>
          <select id="amount-basket-hygien" name="amount-basket-hygien">
            <option value="">Selecione</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>

        <label for="data">Data</label>
        <input type="date" id="date" name="date">

        <label>Solicitar entrega:</label>
        <label><input type="checkbox" name="deliver" value="yes"> Sim</label>
        <label><input type="checkbox" name="deliver" value="no"> Não</label>
      </form>

      <div class="actions">
        <p>Registrar Solicitação?</p>
        <button class="action-btn">Sim</button>

        <p>Compartilhar Solicitação nas redes sociais?</p>
        <button class="action-btn">Sim</button>
      </div>
    </section>
    
  </form>
</div>
