
<nav class="page-container">
    <section class="content-section">
      <div class="image-placeholder">

        <!-- Aqui será adicionada uma imagem real futuramente -->

      </div>
      <div class="text-content">
        <h1>Sobre nós</h1>
        <p>
          O FoodCare é um projeto acadêmico desenvolvido pelos alunos Eugênio José de Oliveira Silva, Richard 
          Pedroso de Souza Filho e Tiago Vilela Cerqueira do Carmo, do 5º Período do curso de Sistemas de 
          Informação da FAI, com o apoio de professores da instituição.
        </p>
        <p>
          O projeto visa facilitar a doação de alimentos por meio de uma plataforma digital, conectando doadores e 
          pessoas que necessitam de apoio alimentar, visando acabar com o excesso em doações.
        </p>
        <p>
          Com o uso da tecnologia, buscamos criar uma solução simples, eficiente e acessível, contribuindo para a 
          redução da fome e o fortalecimento da solidariedade. 
        </p>
        <p>
          O FoodCare reflete nosso compromisso com um futuro 
          mais justo e colaborativo.
        </p>
      </div>
    </section>
  </nav>
    <footer>
      <div class="contact-emails"></div>
      <div class="contact-info">
        <span>Contato</span>
        <div class="social-icons">
          <img src="telegram.png" alt="Telegram">
          <img src="facebook.png" alt="Facebook">
          <img src="whatsapp.png" alt="WhatsApp">
          <img src="instagram.png" alt="Instagram">
        </div>
      </div>
    </footer>

