<header>
  <div class="logo">
    <img src="logo.png" alt="FoodCare Logo" />
    <span>foodcare</span>
  </div>

  <nav>
    <a routerLink="about-us">Sobre Nós</a>
    <a routerLink="user/make-action">Fazer Doação</a>
    <a routerLink="user/follow-actions">Acompanhar Doações</a>
    <a routerLink="user/generate-report">Gerar Relatório</a>
  </nav>
  
</header>

<div class="base-form">
  <div class="form">
    <h2>Meu Perfil</h2>

    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput [value]="user?.name" disabled />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [value]="user?.email" disabled />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput [value]="user?.phone" disabled />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cidade</mat-label>
      <input matInput [value]="user?.city" disabled />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rua</mat-label>
      <input matInput [value]="user?.street" disabled />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Bairro</mat-label>
      <input matInput [value]="user?.neighborhood" disabled />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CEP</mat-label>
      <input matInput [value]="user?.zip_code" disabled />
    </mat-form-field>

    @if (user?.user_type === 'beneficiary') {
      <mat-form-field appearance="fill">
        <mat-label>Renda Familiar</mat-label>
        <input matInput [value]="user?.family_income" disabled />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Quantidade de Pessoas</mat-label>
        <input matInput [value]="user?.people_quantity" disabled />
      </mat-form-field>
    }
  </div>
</div>
