:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.form-card {
  background-color: #f7dec7;
  padding: 30px 40px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0px 10px #42632c;
  text-align: left;
  color:#8a5725;
}

.form-card h2 {
  color: #8a5725;
  margin-bottom: 20px;
  font-size: 28px;
}

mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.mat-mdc-form-field-infix {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
}

input[matInput] {
  padding: 10px;
  font-size: 16px;
}

.text-danger,
mat-error {
  color: #e63946;
  font-weight: bold;
  font-size: 14px;
  margin-top: 4px;
  display: block;
}

.action-section {
  margin-top: 20px;
}

.action-section a {
  color: #945f29;
  text-decoration: none;
  font-weight: bold;
}

.action-section a:hover {
  text-decoration: underline;
}

.content-center {
  text-align: center;
}

.central-description {
  margin-top: 30px;
}

.user-type-buttons {
  margin-top: 16px;
}

.button-group {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}