
<div class="container" >
    <body></body>
    <!-- Papel de parede com <br> Blur na página inteira</h1> -->
    <div class="elemets">
        <img src="src/assets/logo-jpg/logo.png" class="logo" >
        <p>FoodCare é o projeto de um sistema para arrecadação e distribuição de doações</p>
        <p>Por meio da gerência de todos os processos, garantimos</p>
        <p><strong>confiança e eficiência</strong></p>
        <p>desde o registro de doações até a entrega aos indivíduos necessitados.</p>
        <div class="mt-4">
            <a routerLink="/account/sign-in" class="button">Conhecer</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

