:host {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #264653;
  margin: 0;
  padding: 0;
}

.form-wrapper{
  background-color: #f0feff;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 220px;
  
}


.form-card h2 {
  justify-content: center;
  display: flex;
  color: #264653;
  margin-bottom: 20px;
  font-size: 35px;
}

.form-card h3 {
  justify-content: center;
  display: flex;
  color: #2a2a2a;
  margin-bottom: 15px;
  font-size: 15px;
}



mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.mat-mdc-form-field-infix {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
}

input[matInput] {
  padding: 10px;
  font-size: 16px;
}

nav{
  justify-content:space-evenly;
  display: flex;
  padding: 0px 10px;
}

button[mat-raised-button] {
  background-color: #f0896c;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  justify-content: space-between;

  
}

button[mat-raised-button]:hover {
  background-color: #ffc3b2;
}

button[mat-raised-button]:disabled {
  background-color: #f7a779;
  color: #000000;
  cursor: not-allowed;
}


.primary-button{
  background-color: #f0896c;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  transition: background-color 0.3s ease;

}

.primary-button:hover{
  background-color: #ffc3b2;
}

.text-danger {
  color: #e63946;
  font-weight: bold;
  font-size: 14px;
}

.error-message {
  margin-top: 8px;
}

.action-section {
  
  margin-top: 16px;
}

.action-section a {
  color: rgb(95, 95, 255);
  text-decoration: none;
  font-weight: bold;
}

.action-section a:hover {
  text-decoration: underline;
}
