.base-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
}

.conteiner{
  background-color: #d2e9f1;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 220px;
}

body{
    margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(42, 87, 105, 0.85);
  box-sizing: border-box;
}

.form h2 {
  justify-content: center;
  display: flex;
  color: #264653;
  margin-bottom: 20px;
  font-size: 35px;
}

.form h3 {
  justify-content: center;
  display: flex;
  color: #2a2a2a;
  margin-bottom: 15px;
  font-size: 15px;
}



mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.mat-mdc-form-field-infix {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
}

input[matInput] {
  padding: 10px;
  font-size: 16px;
}

button[mat-raised-button] {
  background-color: #f0896c;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[mat-raised-button]:hover {
  background-color: #ffc3b2;
}

button[mat-raised-button]:disabled {
  background-color: #f7a779;
  color: #000000;
  cursor: not-allowed;
}

.text-danger {
  color: #e63946;
  font-weight: bold;
  font-size: 14px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-4 {
  
  margin-top: 16px;
}

.mt-4 a {
  color: #4474fa;
  text-decoration: none;
  font-weight: bold;
}

.mt-4 a:hover {
  text-decoration: underline;
}
