:host {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f3decc;
  margin: 0;
  padding: 0;
  
}

.form-wrapper{
  background-color: #f7dec7;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: center;
  box-shadow:  0 0 10px #42632c;
  
  
}


.form-card h2 {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
  font-size: 35px;
  color: #8a5725;
}

.form-card h3 {
  justify-content: center;
  display: flex;
  color: #2a2a2a;
  margin-bottom: 15px;
  font-size: 15px;
}

form{
color: #945f29;
}

mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.mat-mdc-form-field-infix {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
}

input[matInput] {
  padding: 10px;
  font-size: 16px;
}

nav{
  justify-content:space-evenly;
  display: flex;
  padding: 0px 10px;
}

button[mat-raised-button] {
  background-color: #9e6730;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  justify-content: space-between;
  color: white;

}

button[mat-raised-button]:hover {
  background-color: #cc7c46;
  color: white;
}

button[mat-raised-button]:disabled {
  background-color: #9e6730;
  color: #000000;
  cursor: not-allowed;
  color: white;
}


.primary-button{
  background-color: #db586c;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  transition: background-color 0.3s ease;

}

.primary-button:hover{
  background-color: #cc7c46;
}

.text-danger {
  color: #b03648;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}

.error-message {
  margin-top: 8px;
}

.action-section {
  
  margin-top: 16px;
}

.action-section a {
  color: #ff952b;
  text-decoration: none;
  font-weight: bold;
}

.action-section a:hover {
  text-decoration: underline;
  color: #b03648;
}
