<div>
  <form class="form mat-elevation-z4">
    <h1>Acompanhamento</h1>

    <div class="buttons-toggle">
      <button id="btn-donations" class="active">Doações</button>
      <button id="btn-requests">Solicitações</button>
    </div>

    <section id="table-donations" class="table-container">
      <h2>Situação Doações</h2>
      <table>
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Data</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4" class="placeholder">
              Tabela com cada doação registrada pelo doador
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="table-requests" class="table-container hidden">
      <h2>Situação Solicitações</h2>
      <table>
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Data</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4" class="placeholder">
              Tabela com cada solicitação registrada pelo beneficiário
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    
  </form>
</div>
