<div>
  <form class="form-card mat-elevation-z4">
    
    @if(userType === 'donor') {
      <h1>Sua Doação</h1>
      <section class="form-section">
        <form class="donation-form" #donationForm>
          <label>Tipo de Produto</label>
          <select name="productType" id="productType-select" #productType>
            <option value="">Selecione uma opção</option>
            <option value="basic">Alimentos Básicos</option>
            <option value="hygiene">Produtos de Higiene</option>
          </select>

          <label>Produto</label>
          <select name="product_id" id="product-select" #productId required>
            <option value="">Selecione o produto</option>
            <option value="1">Arroz</option>
            <option value="2">Feijão</option>
            <option value="3">Batata-palha</option>
            <option value="4">Papel-toalha</option>
            <option value="5">Papel-higiênico</option>
            <option value="6">Sabonete</option>
          </select>

          <label>Data de Validade</label>
          <input type="date" name="expirationDate" #expirationDate required>

          <label>Quantidade</label>
          <input type="number" name="quantity" min="1" #quantity required>

          <label>Unidade</label>
          <div class="unit-section">
            <label><input type="radio" name="unit" value="Kg" #unitKg required> Kg</label>
            <label><input type="radio" name="unit" value="L" #unitL required> L</label>
          </div>

          <label>Solicitar coleta:</label>
          <label><input type="checkbox" name="collect" value="yes"> Sim</label>
          <label><input type="checkbox" name="collect" value="no"> Não</label>
        </form>

        <div class="action-buttons">
          <p>Registrar Doação?</p>
          <button class="primary-button" (click)="registerDonation(productId.value, expirationDate.value, quantity.value, unitKg.checked ? 'Kg' : (unitL.checked ? 'L' : ''))">Sim</button>
          <p>Compartilhar doação nas redes sociais?</p>
          <button class="primary-button">Sim</button>
        </div>
      </section>
    }

    @if(userType === 'beneficiary') {
      <h1>Sua Solicitação</h1>
      <section class="form-section">
        <form class="solicitation-form">
          <label for="tipo-request">Solicitar</label>
          <select id="tipo-request" name="tipo-request">
            <option value="">Selecione uma opção</option>
            <option value="basicBasket">Cesta Básica</option>
            <option value="HygienBasket">Cesta Higiene</option>
          </select>

          <label for="data">Data</label>
          <input type="date" id="date" name="date">

          <label>Solicitar entrega:</label>
          <label><input type="checkbox" name="deliver" value="yes"> Sim</label>
          <label><input type="checkbox" name="deliver" value="no"> Não</label>
        </form>

        <div class="action-buttons">
          <p>Registrar Solicitação?</p>
          <button class="primary-button">Sim</button>
          <p>Compartilhar Solicitação nas redes sociais?</p>
          <button class="primary-button">Sim</button>
        </div>
      </section>
    }
    
  </form>
</div>
