<div class="reset-container">
  <div class="reset-card">
    <img src="assets/logo.png" alt="Logo FoodCare" class="logo" />

    <h2>Recuperar Senha</h2>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="updatePassword()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email"/>
      </mat-form-field>

      @if (resetPasswordForm.controls['email'].hasError('require')) {
        <p class="text-danger">
          Campo obrigatório
        </p>
      }
      @else if (resetPasswordForm.controls['email'].hasError('email')) {
        <p class="text-danger">
          Email inválido
        </p>
      }
      @if (isEmailInvalid) {
        <p class="text-danger">
          Email não encontrado
        </p>
      }
      <div>
        <button class="next" mat-raised-button color="primary" type="button" (click)="checkEmail()" [disabled]="!resetPasswordForm.controls['email'].valid">
          Avançar
        </button>
      </div>

      @if (showPasswordFields) {
        <div class="password-fields">

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nova Senha</mat-label>
            <input matInput formControlName="newPassword" type="password"/>
          </mat-form-field>
          @if (resetPasswordForm.controls["newPassword"].hasError('required')) {
            <p class="text-danger">
              Campo obrigatório
            </p>
          }
          @else if (resetPasswordForm.controls["newPassword"].hasError('minlength')) {
            <p class="text-danger">
              Senha deve ter no mínimo {{passwordMinLength}}
            </p>
          }
          @else if (resetPasswordForm.controls["newPassword"].hasError('maxlength')) {
            <p class="text-danger">
              Senha deve ter no máximo {{passwordMaxLength}}
            </p>
          }
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Repita a Senha</mat-label>
            <input matInput formControlName="repeatPassword" type="password"/>
          </mat-form-field>

          @if (resetPasswordForm.controls["repeatPassword"].hasError('required')) {
            <p class="text-danger">
              Campo obrigatório
            </p>
          }

          @if (!arePasswordsValid()) {
            <p class="text-danger">
              Senhas não coincidem
            </p>
          }

          <button class="reset-button" mat-raised-button color="accent" type="submit" [disabled]="!resetPasswordForm.valid || !arePasswordsValid()">
            Redefinir Senha
          </button>
          
        </div>
      }
    </form>
  </div>
</div>