:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f3decc;
  padding: 1rem;
  margin: 0;
}

.form-card {
  width: 100%;
  max-width: 420px;
  padding: 2rem;
  border-radius: 12px;
  background-color: #f7dec7;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 0 10px #42632c;
  color: #7e5125;
}

.brand-logo {
  width: 120px;
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
}

.form-section {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-danger {
  color: #b03648;
  font-weight: bold;
  font-size: 14px;
  margin-top: -4px;
}

form{
justify-content: center;
align-items: center;
padding: 10px 20px;
color: #7e5125;

}

div .primary-button{
  color: white;
  background-color: #9e6730;
  border-radius: 10px;
  pointer-events:fill;
  
}

div .primary-button:hover{
  background-color: #cc7c46;
  border-radius: 10px;
}


.form-section .secondary-button{
  background-color: #9e6730;
  border-radius: 10px;
  pointer-events:fill;
  height: 40px;
  width: 160px;
  color: white;
  
}

.form-section .secondary-button:hover{
  background-color: #cc7c46;
  color: white;
}

form .form-section {
  justify-content: center;
  align-items: center;
  display: flex;
}